.SearchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  input {
    padding: 8px;
    font-size: 16px;
    margin-right: 8px; /* Add margin between input and button */
  }
  
  button {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
  }