<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Knjige2Go</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script th:src="@{/js/script.js}"></script>
</head>



<body>


<div class="container">
  <div class="navbar">
    <img src="/images/logo.png" class="logo" alt="">
    <nav>
      <ul>
        <li><a th:href="@{/adminovHome}">HOME</a></li>
        <li><a href="/adminovHome" th:href="@{/zahtjevi}">ODOBRI ZAHTJEVE</a></li>
         <li><a th:href="@{/login}">ODJAVA</a></li>
      </ul>

    </nav>
    <button class="hamburger " >
      <div class="bar"></div>
    </button>

  </div>






</div>




</body>
</html>